<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PG</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1>Hello World</h1>
        <table>
            <tr>
                <td>No.</td>
                <td>email</td>
                <td>password</td>
                
            </tr>
            <% mang.forEach(e => { %>
                <tr>
                    <td><%= e.id %></td>
                    <td><%= e.email %></td>
                    <td><p><%= e.password %></p></td>                
                </tr>
            <% }); %>
        </table>
    </body>
</html> 
